﻿@model Domain.Recipe

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Recipe</legend>

        <div class="editor-label">
           <h3>Recipe Name</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            <h3>Servings</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.baseServings)
            @Html.ValidationMessageFor(model => model.baseServings)
        </div>

        <div class="editor-label">
            <h3>Method</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.method)
            @Html.ValidationMessageFor(model => model.method)
        </div>

        <div class="editor-label">
            <h3>Time</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.timeInMinutes)
            @Html.ValidationMessageFor(model => model.timeInMinutes)
        </div>
        <div>
            <ul id="IngredientEditor" style="list-style-type: none">
              @if(Model.ingredients == null || Model.ingredients.Count == 0){
                    <p>None.</p>
                } else {
                 foreach (Domain.Ingredient ingredient in Model.ingredients)
                 {
                     Html.RenderPartial("IngredientEditor", ingredient);
                 }
              }
            </ul>

            <a id="addAnother" onclick="
                            $.get('/Recipes/IngredientRow/', function (template) {
                                $('#IngredientEditor').append(template);
                            }); "> Add Another </a>      
        </div>
        
    

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
 
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
