﻿@model IEnumerable<Domain.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
           Title&#160;&#160;&#160;&#160;
        </th>
        <th>
            Servings&#160;&#160;&#160;&#160;
        </th>
        <th>
          Time&#160;&#160;&#160;&#160;
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.servings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeInMinutes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
