﻿@model Domain.Recipe

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Recipe</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.baseServings)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.baseServings)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.servings)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.servings)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.method)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.method)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.timeInMinutes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.timeInMinutes)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
